
@{
    ViewBag.Title = "Пользователи и награды";
}

<h2>Добро пожаловать!</h2>

@Html.ActionLink("Пользователи", "Index", "User", null, new {@class = "btn btn-default"})
@Html.ActionLink("Награды", "Index", "Award", null, new { @class = "btn btn-default" })


